* text=auto
*.cs text eol=crlf
*.cshtml text eol=crlf
*.js text eol=crlf
*.css text eol=crlf
*.json text eol=crlf
*.sql text eol=crlf
*.xml text eol=crlf
*.html text eol=crlf
*.txt text eol=crlf
*.gitattributes text eol=lf
