@model Erp.Data.Entities.MasrafMerkezi

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MasrafMerkezi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Kod" class="control-label"></label>
                <input asp-for="Kod" class="form-control" />
                <span asp-validation-for="Kod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ad" class="control-label"></label>
                <input asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UstMasrafMerkezi" class="control-label"></label>
                <input asp-for="UstMasrafMerkezi" class="form-control" />
                <span asp-validation-for="UstMasrafMerkezi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Durum" class="control-label"></label>
                <input asp-for="Durum" class="form-control" />
                <span asp-validation-for="Durum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aciklama" class="control-label"></label>
                <input asp-for="Aciklama" class="form-control" />
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OlusturmaTarihi" class="control-label"></label>
                <input asp-for="OlusturmaTarihi" class="form-control" />
                <span asp-validation-for="OlusturmaTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuncellemeTarihi" class="control-label"></label>
                <input asp-for="GuncellemeTarihi" class="form-control" />
                <span asp-validation-for="GuncellemeTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
